* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: #000;
  color: #fbfb20;
  margin: 0;
  line-height: 1.4;
  width: 100vw;
  min-height: 100vh;
}


header {
  background-color: #000;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  border-bottom: 2px solid #fbfb20;
  font-size: 20px;
}


header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


header a:hover {
  color: #fbfb20;
  transition: all 0.5s ease;
  transform: scale(1.3);
}


header a.ativo {
  color: #fbfb20;
  text-decoration: underline;
}


header img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

/* ====== MENU LATERAL (direita) ====== */
.menu-icon {
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 998;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.4s ease;
  padding-top: 60px;
  z-index: 999;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar a {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #575757;
}

.closebtn {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 36px;
  cursor: pointer;
}
.sobrecurso {
    margin-left: 1100px;
    margin-top: 200px;
    font-size: 45px;
}


.textcurso {
    font-size: 30px;
    color: white;
    padding-left: 800px;
    position: relative;
    top: 90px;
}

.imgtext {
    display: flex;
    position: relative;
    bottom: 200px;
    left: 80px;
}

.barinicio {
    display: flex;
    position: relative;
    bottom: 190px;
    left: 165px;
    font-size: 40px;
}

.habdesen {
    display: flex;
    position: relative;
    bottom: 100px;
    margin: 100px;
    font-size: 30px;
}

.lista {
    text-align: justify;
    position: relative;
    font-size: 45px;
    margin: 100px;
    bottom: 100px;
    border-radius: 90px;
    color: white;
}

.botao-link {
    background-color: #fbfb20;
    color: #000;
    padding: 12px 30px;
    border-radius: 60px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    transition: background-color 0, 3s ease;

}

.botao-link :houver {
    background-color: #ddac17;
}

.botao-container {
    text-align: center;
    margin: 100px 0;
}

footer {
  background-color: #fbfb20;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 30px;
}


@media (max-width: 767px) {
  header {
    width: auto;
    height: auto;
    gap: 27px;                
    padding: 10px;
    font-size: 16px;          
  }


  header img {
    width: 60px;
    height: 60px;
  }


  header a {
    font-size: 15px;
  }

.sobrecurso {
    position: relative;
    bottom: 40px;
    right: 650px;
    font-size: 20px;
    white-space: nowrap;


}

.textcurso {
    display: flex;
    font-size: 15px;
    padding-left: 370px;
    position: relative;
    top: -10px;
    right: 20px;



}

.imgtext {
    width: 250px;
    height: 250px;
    position: relative;
    left: 50px;
}

.barinicio {
    font-size: 20px;
    position: relative;
    left: 80px;
}

.habdesen {
    white-space: nowrap;
    font-size: 15px;
    position: relative;
    left: 110px;
}

.lista {
    font-size: 22px;
}

}

@media (max-width: 467px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
  }


  header img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }


  header a {
    display: block;          
    width: 90%;
    text-align: center;      
    font-size: 8px;          
    padding: 8px 0;
  }
    .sobrecurso {
        right: 870px;
        font-size: 20px;
    }

    .textcurso {
        font-size: 15px;
        padding-left: 250px;
        left: -30px;
    }

    .imgtext {
        width: 190px;
        height: 190px;
        left: 20px;
        bottom: 300px;
    }

    .barinicio {
        font-size: 20px;
        bottom: 300px;
        left: 30px;
    }

    .habdesen {
        font-size: 15px;
        position: relative;
        left: -40px;
    }

    .lista {
        font-size: 15px;

    }
}
