

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #d9ff00;
  box-shadow: 0 0 10px rgba(238, 255, 0, 0.753);
  transition: all 0.2s ease;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  z-index: 9999;
}

.popup.visivel {
  opacity: 1;
  transform: translateY(0);
}

.popup.sucesso {
  background: linear-gradient(90deg, #00c853, #009624);
}

.popup.erro {
  background: linear-gradient(90deg, #d32f2f, #b71c1c);
}

.intro {
  text-align: center;
  margin: 30px auto;
  color: #bbb;
}
.intro h2 {
  color: #00c853;
  font-size: 26px;
  margin-bottom: 10px;
}

@media (max-width: 468px) {

  .form-servico input,
  .form-servico select {
    font-size: 20px;
    padding: 14px;
    margin: 7px;
  }
  .textog{
    font: 10px;
    padding: 10px;
    margin: 5px;
    max-width: 98%;
  }
  .calendario{
    font: 10px;
    padding: 10px;
    margin: 5px;
    max-width: 97%;
  }
  .botoes {
    flex-direction: row;
    gap: 16px;
    margin: 7px;
  }

  .membro {
    flex: 0 0 100%;  
    min-height: 80px;
  }

  .membro .nome {
    font-size: 22px;
  }

  .btn-finalizar {
    width: 80%;    
    font-size: 16px;
    padding: 18px;
  }
}
@media (max-width: 768px) {
  header {
    gap: 30px;                
    padding: 10px;
    font-size: 16px;          
  }

  header img {
    width: 60px;
    height: 60px;
  }

  header a {
    font-size: 15px;
  }
}
@media (max-width: 468px) {

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    padding: 9px;
  }

  header img {
    width: 50px;
    height: 50px;
    margin: 5px
  }

  header a {
    display: block;          
    width: 99%;
    text-align: center;      
    font-size: 7px;          
    padding: 8px
  }
}
footer {
  font-size: 14px;
  padding: 18px;
  text-align: center;
}
