/*style.css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  text-align: center;
  min-height: 115vh;
}

.trad {
  position: fixed;      
  top: 20px;            
  left: 20px;            
  z-index: 9999;        
  padding: 8px 14px;
  background-color: #666666;
  color: white;
  border: 20px;
  border-radius: 8px;
  font-size: 15px;
  text-decoration: none;
  font-weight: bolder;

}

.trad:hover{
  color: #fbfb20;
  transform: scale(1.2);
  transition: all 0.7s ease;
}

/*HEADER*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.voltar {

  color: #f7e600;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.logo img {
  width: 60px;
}

.icone-pagamento img {
  width: 60px;
}

/*MAIN*/
main {
  padding: 30px 20px;
}

.pagamento h2 {
  color: #f7e600;
  margin-bottom: 20px;
}

/*Formulário*/
.form-pagamento {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.form-pagamento label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-pagamento input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #dcdcdc, #f5f5f5);
  color: #000;
  font-size: 16px;
  outline: none;
}

/*PIX*/
.pix {
  margin-top: 40px;
}

.pix h3 {
  color: #f7e600;
  margin-bottom: 20px;
}

.pix-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pix-icon {
  width: 80px;
}

.qrcode {
  width: 150px;
}
  
/*botao*/
.botao-link {
  background-color: #fbfb20;
  color: #000;
  padding: 12px 30px;
  border-radius: 60px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.botao-link:hover {
  background-color: #ddac17;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.botao-container {
  text-align: center;
  margin: 50px 0;
}



/*FOOTER*/
footer {
  margin-top: 50px;
  padding: 15px;
  font-size: 14px;
  color: #ccc;
}

@media (max-width: 768px) {

  header nav {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .voltar {
    align-self: flex-start;
  }

  .pix-box {
    flex-direction: column;
    gap: 20px;
  }

  .pix-icon {
    width: 60px;
  }

  .qrcode {
    width: 130px;
  }
}

/* Telas bem pequenas (máx 480px) */
@media (max-width: 480px) {

  .logo img,
  .icone-pagamento img {
    width: 45px;
  }

  .pagamento h2,
  .pix h3 {
    font-size: 20px;
  }

  .form-pagamento input {
    font-size: 14px;
  }

  nav {
    padding: 10px;
  }

  .pix-icon {
    width: 50px;
  }

  .qrcode {
    width: 110px;
  }
}

