/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: #000000;
  color: #fbfb20;
  line-height: 1.4;
  min-height: auto;
}


header {
  background-color: #000;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  border-bottom: 2px solid #fbfb20;
  font-size: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

header a:hover {
  color: #fbfb20;
  transform: scale(1.15);
}

header a.ativo {
  color: #fbfb20;
  text-decoration: underline;
}

header img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

/* ====== MENU LATERAL (direita) ====== */
.menu-icon {
  width: 20px;
  cursor: pointer;
  position: relative;
  top: 15px;
  right:15px;
  z-index: 998;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.4s ease;
  padding-top: 60px;
  z-index: 999;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar a {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #575757;
}

.closebtn {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 36px;
  cursor: pointer;
}
.ava {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.ava input {
  padding: 12px;
  width: 350px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #dcdcdc, #f5f5f5);
  color: #000;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}


.caixas {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}


.quadrado1,
.quadrado2,
.quadrado3,
.quadrado4 {
  width: 200px;
  height: 200px;
  background-color: #dcdcdc;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(255, 255, 0, 0.2);
}


.p {
  color: goldenrod;
  font-size: 38px;
  margin-top: 10px;
}

/* Texto da avaliação */
.avaliacao {
  color: #000;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 5px;
  word-wrap: break-word;
}


footer {
  margin-top: 50px;
}

.footer {
  background-color: #fbfb20;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 30px;
  font-size: 16px;
}


 
  @media (max-width: 767px) {
  header {
    width: auto;
    height: auto;
    gap: 30px;                
    padding: 10px;
    font-size: 16px;          
  }


  header img {
    width: 60px;
    height: 60px;
  }


  header a {
    font-size: 15px;
  }

 
  .ava input {
    width: 280px;
    font-size: 15px;
  }

 
  .caixas {
    flex-wrap: wrap;
    gap: 20px;
  }

 
  .quadrado1,
  .quadrado2,
  .quadrado3,
  .quadrado4 {
    width: 160px;
    height: 160px;
  }

 
  .p {
    font-size: 28px;
  }

 
  .avaliacao {
    font-size: 13px;
  }
}

@media (max-width: 467px)
 {
  header {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
  }


  header img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }


  header a {
    display: block;           
    width: 90%;
    text-align: center;       
    font-size: 8px;          
    padding: 8px 0;
  }

  
  .ava input {
    width: 230px;
    font-size: 14px;
    padding: 10px;
  }

 
  .caixas {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

 
  .quadrado1,
  .quadrado2,
  .quadrado3,
  .quadrado4 {
    width: 150px;
    height: 150px;
  }

  .p {
    font-size: 24px;
  }

  .avaliacao {
    font-size: 12px;
  }

 
  .footer {
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
}